/* globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{

    /* paleta de cores */
    --verde:hsl(75, 94%, 57%);
    --branco:hsl(0, 0%, 100%);
    --cinza-medio:hsl(0, 0%, 20%);
    --cinza-escuro:hsl(0, 0%, 12%);
    --cinza-preto:hsl(0, 0%, 8%);

    /* tamanho das fontes */

    --fs-xl: 1.5rem;
    --fs-lg: 0.8125rem ;
    --fs-md: 0.875rem;
}

/* classes para variáves das fontes */

.g-text{
    font-size: var(--fs-xl);
    font-weight: 500;
    margin-block-end: 0.625rem;
}

.m-text{
    font-size: var(--fs-lg);
}

.p-text{
    font-size: var(--fs-md);
    font-weight: 400;
}


body {
    background-color: var(--cinza-preto);
    color: var(--branco);;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}


/* dispositivos móveis */

.largura {
    width: 20.3rem;
    background-color: var(--cinza-escuro);
    border-radius: 0.625rem;
    padding: 1.375rem;
}

.profile-image {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    margin-block-end: 1.25rem;
}



.profile h2 {
    color: var(--verde);
    margin-block-end: 1.875rem;
}

.links-profile ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block-start: 1.875rem;
}

.links-profile ul li {
    list-style: none;
}

.links-profile ul li a {
    display: block;
    padding: 0.9375rem;
    background-color: var(--cinza-medio);
    color: var(--branco);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
    
}

@media (prefers-reduced-motion: reduce) {
    .links-profile ul li a {
        transition: none;
    }
}



.links-profile ul li a:hover,
.links-profile ul li a:focus {
    background-color: var(--verde);
    color: var(--cinza-escuro);
    outline: none;
}


/* tabletes e desktops */

@media (min-width: 48rem) {
    .largura {
        width: 22.5rem;
        padding: 2.5rem;
    }

}






